@model BattleCityWeb.Models.Identity.LoginViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="row">
    <div class="col-md-6 offset-3">
            <form id="account" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <br />
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Login"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}