<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BattleCityWeb</title>

    @* R-Made css *@
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />

    @* R-Made hosted css *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">

    @* Custom css *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-2">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Battle City</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @* Auth controls  TODO: Make as a partial view like a SCOCS*@
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item">Login feature</li>
                    </ul>


                    @* Controls*@
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="#actionArea" class="nav-link text-dark">Play Now!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Logs"
                           asp-action="Index">Logs</a>
                    </li>
                </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0">
        <main role="main">

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer bg-light text-muted">
        <div class="container">
            &copy; 2020 - Battle City Web
        </div>
    </footer>

    @* R-Made physical libraties *@
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    @* R-Made hosted libraries *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    @* Custom libraries *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
